<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8" />
		<title>姓名案例_插值语法实现</title>
		<script type="text/javascript" src="../js/vue.js"></script>
	</head>
	<body>
		<!-- 准备好一个容器-->
		<div id="root">
			姓：<input type="text" v-model="firstName"> <br/>
			名：<input type="text" v-model="lastName"><br/>
			<span>全名:{{firstName + '-' + lastName}}</span>
		</div>

		<script type="text/javascript" >
			new Vue({
				el:'#root',
				data:{
					firstName:'张',
					lastName:'三'
				}
			})
		</script>

	</body>
</html>