<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8" />
		<title>姓名案例_methods实现</title>
		<script type="text/javascript" src="../js/vue.js"></script>
	</head>
	<body>
		<!-- 准备好一个容器-->
		<div id="root">
			姓：<input type="text" v-model="firstName"> <br/>
			名：<input type="text" v-model="lastName"><br/>
			<span>全名:{{getFullName()}}</span>
			<span>全名:{{getFullName()}}</span>
		</div>

		<script type="text/javascript" >
			new Vue({
				el:'#root',
				data:{
					firstName:'张',
					lastName:'三'
				},
				methods:{
					getFullName(){
						console.log('getFullName被调用了')
						return this.firstName + '-' + this.lastName
					}
				}
			})
		</script>
	</body>
</html>