<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>

<body>

  <div id="main" style="width: 600px; height:600px;"></div>

  <script src="../../../../node_modules/echarts/dist/echarts.js"></script>
  <!-- <script src="../../../../node_modules/echarts/theme/macarons.js"></script> -->
  <script type="text/javascript">
    // 基于准备好的dom，初始化echarts实例
    var myChart = echarts.init(document.getElementById('main'), 'macarons');

    // 指定图表的配置项和数据
    var option = {
      // 标题
      title: {
        text: 'ECharts 入门示例'
      },
      // 提示
      tooltip: {},
      // 图例
      legend: {
        data: ['销量', '库存']
      },
      // X轴
      xAxis: {
        data: ["衬衫", "羊毛衫", "雪纺衫", "裤子", "高跟鞋", "袜子"]
      },
      // Y轴
      yAxis: {},
      // 系列
      series: [
        {
          name: '销量', // 标识名称
          type: 'bar', // 柱状图
          data: [5, 20, 36, 10, 10, 20] // 列表数据
        }
      ]
    };

    // 使用刚指定的配置项和数据显示图表。
    myChart.setOption(option);

  </script>
</body>

</html>
