* {
  margin: 0;
  padding: 0;
}
#demo {
  width: 6.9rem;
  height: 3rem;
  margin: 0 auto;
  margin-top: 0.3rem;
  background-color: #87CEEB;
  /* border: 0.01rem solid black; */
  /* 边框参与适配*/
  border: 1px solid black;
  /* 边框不参与适配*/
}
